.pulse-circle {
  transform-origin: center;
  transform-box: fill-box;
}

.circle-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-family: "Pacifico", cursive;

  font-size: 48px; /* 🔥 كبرنا الحجم */
  color: #1e6de0; /* 🔥 أزرق قوي نفس الموقع */

  font-weight: bold;

  text-shadow: 0 4px 15px rgba(30, 109, 224, 0.3); /* 🔥 يعطيه وضوح */
}
@media (max-width: 768px) {
  .circle-wrapper {
    display: none; /* 🔥 يخفي الدائرة + النص */
  }
}